# Virtual Environment
.venv/
venv/
env/

# Python Byte-Compiled Files
__pycache__/
*.py[cod]
*$py.class

# SQLite Databases & Local Test Files
*.db
*.sqlite3

# Local Exported Files
*.csv
*_clinical_report.txt

# macOS System Files
.DS_Store
